[Unit]
Description=Email Automation FastAPI Backend Service
After=network.target redis-server.service

[Service]
User=adira
WorkingDirectory=/home/adira/email-automation
ExecStart=/home/adira/email-automation/venv/bin/uvicorn app.api.routes:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5
EnvironmentFile=/home/adira/email-automation/.env

[Install]
WantedBy=multi-user.target
